<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("head") %>
</head>
<body>
    <%- include("header") %>
    <% if (tweets.length === 0) { %>
        <h1>There are no tweets</h1>
    <%} else{ %>
        <h3>There are <%= tweets.length %> tweets</h3>
   <% }%>

    <a href="addTweet"><button>Add Tweet</button></a>
    
    <% users.forEach((user) => { %>
        <% user.tweets.forEach((tweetObj) => { %>
            <div class="tweet">
                <h2><%= tweetObj.title %></h2>
                <p><%= tweetObj.tweet %></p>
                <p>Created at: <%= tweetObj.createdAt %></p>
                <a href="tweet/<%= tweetObj._id %>">See More</a>
            </div>
        <% }); %>
    <% }); %>

</body>
</html>
